/****************************************
  Code for 3D Shadow effect on books
  at http://markdotto.com/playground/3d-text/
*****************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("../img/book_shelf_minecraft.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: 500px;
}

#bookShelf {
  width: 100%;
  max-width: 380px;
  position: relative;
  margin: 50px auto;
  padding: 10px 0 0;
  border: 40px solid tan;
  background: lightgrey;
  box-shadow: inset 0 0 40px 10px rgba(0,0,0, .25);

}

#one {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#two {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#three {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#four {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#five {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#six {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#seven {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#eight {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#nine {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#ten {
  background: brown;
  /*margin: 20px;*/
  padding: 5px 6px;
  height: 100px;
  width: 26px;
  display: inline-block;
  box-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               0 -3px 0 #bbb,
               0 -4px 0 #b9b9b9,
               0 -5px 0 #aaa,
               0 -6px 1px rgba(0,0,0,.1),
               0 -0 5px rgba(0,0,0,.1),
               0 -1px 3px rgba(0,0,0,.3),
               0 -3px 5px rgba(0,0,0,.2),
               0 -5px 10px rgba(0,0,0,.25),
               0 -10px 10px rgba(0,0,0,.2),
               0 -20px 20px rgba(0,0,0,.15);
}

#button {
  width: 380px;
  background: #4E92FF;
  color: white;
  text-align: center;
  padding: 20px 20px;
  margin: auto auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0, .75);
  text-shadow: 2px 2px 2px rgba(0,0,0, .75);
}

#button:hover {
   background: #61A4FF;
   cursor: pointer;
}
